
*{
  /* border: red .5px solid; */
}
   .login{
   height: 100%; 
   width: 100%;
  }
  
/*
  .login .container .btn-sam, .container-xxl .btn-sam{
    background: var(--sam)  !important;
  }
  .login .container .bg-sam, .container-xxl .bg-sam{
    background: var(--sam)  !important;
  } */
   .login .big-head{
    font-size: 50px;
    font-family: salad !important;
   } 
   .login .header{
    width:  100%;
    margin: auto;
   }
   .login .header p{
    font-family: codec;
    font-size: 15px;
   }
   .login input{
    font-family: codec;
   }.login .btn-grad{
    font-family: codec;
   }
@media (min-width:500px) {
    .login{
        /* border: 1px solid #333; */
        box-shadow: 0px 3px 45px rgba(0, 0, 0, 0.5);
        /* border-radius: 15px; */
        overflow: hidden;
        height: fit-content;
    }
    .login .header{
        display: none !important;
    }
    .login h1{
      
    }
}
